// BS 5 overwrite variables file needs to be at root
@import 'base/mixins/all';
@import 'base/variables';
@import 'base/settings/all';

@import 'librairies/all';

@import 'layout/all';

@import 'components/all';

@import 'blocks/all'; // Gutenberg blocks

@import 'pages/all';

body {
    color: black;
}

h1 {
    font-size: 2rem; /* Taille de police par défaut */
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem); /* Taille responsive */
}

h2 {
    font-size: 1.5rem; /* Taille de police par défaut */
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw + 1rem, 2rem); /* Taille responsive */
}

h3 {
    font-size: 1.25rem; /* Taille de police par défaut */
    font-weight: 500;
    font-size: clamp(0.75rem, 1.25vw + 1rem, 1.75rem); /* Taille responsive */
}