.skeleton-card {
  margin-bottom: 1rem;
  padding-bottom: 0.85rem;
  background-color: #fff;

  .ske-img {
    height: 130px;
  }
  .ske-title {
    height: 0.85rem;
    margin: 1rem 0 0.35rem;
  }
  .ske-sub-title {
    height: 0.85rem;
  }
}
