@use 'sass:math';

.we-summary {
  padding: 0.5rem 0;
  margin-bottom: var(--wp--preset--spacing--50);
  display: flex;
  position: sticky;
  top: 55px;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
  background: $body-bg;
  //box-shadow: 8px 8px 30px -12px rgba(18, 56, 40, 0.50);

  &.is-sticky {
    box-shadow: 8px 8px 30px -12px rgba(18, 56, 40, 0.5);
  }

  a {
    text-decoration: none;
    text-underline-offset: 0.35em;
    font-weight: 600;

    &.active {
      color: $primary;
      text-decoration: underline;
    }
  }
}

@media (min-width: $screen-md) {
  .we-summary {
    top: calc($banner-header-offset - 2px);
  }
}
