.swiper-is-loading {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 50% $main-loader no-repeat; // change colors in svg file
    background-size: 40px;
  }
  .swiper-wrapper {
    visibility: hidden;
    opacity: 0;
  }
}

.swiper-initialized {
  overflow: hidden;
}

.full-width-slider {
  .swiper-initialized {
    overflow: visible;
  }
}

.swiper-pagination {
  bottom: 1rem $imp;
  margin-top: 1.5rem;
  position: static;

  &.white-pagination {
    .swiper-pagination-bullet {
      border: 2px solid #fff;

      &.swiper-pagination-bullet-active {
        background: #fff;
      }
    }
  }
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid $primary;

  &.swiper-pagination-bullet-active {
    background: $primary;
  }
}

body .swiper-offset-shadow {
  margin-left: -0.5rem $imp;
  margin-right: -0.5rem $imp;

  .swiper-slide {
    margin-bottom: 1rem;
  }
}
.swiper-card-offset-shadow {
  margin: 0 0.5rem;
}

//== Scrollbar
/*
.swiper-scrollbar {

    .swiper-scrollbar-drag {
        height: 10px;
        margin-top: -5px;
        border-radius: 0;
    }

    &.swiper-scrollbar-white {
        background: #948D8D;
        border-radius: 0;

        .swiper-scrollbar-drag {
            background: #fff;
        }
    }
     &.swiper-scrollbar-dark {
        background: #E0E0E0;
        border-radius: 0;

        .swiper-scrollbar-drag {
            background: $primary;
        }
    }
}

*/
/*
<div class="my-global-slider my-context-slider">
    <div id="my-context-slider" class="swiper-is-loading">
        <div class="my-context-slider-card-list swiper-wrapper">
            <div class="swiper-slide">My content</div>
        </div>
        <div class="swiper-pagination my-global-slider-pagination"></div>
    </div>
</div>
*/
