/*

.is-style-img-shadow {

    img {
        box-shadow: var(--wp--custom--shadow);
    }
}

.is-style-img-shadow-rounded {

    img {
        border-radius: var(--wp--custom--border-radius);
        box-shadow: var(--wp--custom--shadow);
    }
}

*/
