@mixin make-button() {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  border: $btn-border-width solid transparent;
  vertical-align: middle;
  text-decoration: none $imp;
  overflow-wrap: anywhere;
  box-shadow: none $imp;
  transition: $btn-transition;
}
@mixin make-button-important() {
  //display: inline-flex $imp;
  padding: $btn-padding-y $btn-padding-x $imp;
  line-height: $btn-line-height $imp;
  border-radius: $btn-border-radius $imp;
  font-weight: $btn-font-weight $imp;
  font-size: $btn-font-size $imp;
  border: $btn-border-width solid transparent;
  vertical-align: middle $imp;
  text-decoration: none $imp;
  overflow-wrap: anywhere;
  box-shadow: none $imp;
  transition: $btn-transition $imp;
}
@mixin make-button-underlined() {
  padding-left: 0 $imp;
  padding-right: 0 $imp;
  padding-bottom: 0.25rem $imp;
  background-color: transparent $imp;
  text-transform: uppercase;
  transition:
    color 0.75s,
    border 0.5s;
  box-shadow: none $imp;
}

//== bg
@mixin make-primary-button() {
  background-color: $primary;
  border-color: $primary;
  color: #fff;
  box-shadow: none $imp;
  overflow-wrap: anywhere;

  &:hover,
  &:focus {
    background-color: $black-600;
    border-color: $black-600;
    color: #fff;
  }
}
@mixin make-secondary-button() {
  background-color: $secondary;
  border-color: $secondary;
  color: #fff;
  box-shadow: none $imp;
  overflow-wrap: anywhere;

  &:hover,
  &:focus {
    background-color: #fff;
    color: $secondary;
  }
}

//== Outline
@mixin make-outline-primary-button() {
  background-color: transparent;
  border-color: $primary;
  color: $primary;
  box-shadow: none $imp;
  overflow-wrap: anywhere;

  &:hover,
  &:focus {
    background-color: $black-600;
    border-color: $black-600;
    color: #fff;
  }
}
@mixin make-outline-secondary-button() {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;
  box-shadow: none $imp;
  overflow-wrap: anywhere;

  &:hover,
  &:focus {
    background-color: $secondary;
    color: #fff;
  }
}

//== Tags
@mixin btn-tag-active {
  background-color: $btn-tag-active-bg-color;
  border-color: $btn-tag-active-border-color;
  color: $btn-tag-active-color;
}
