.filter-by {
  margin-bottom: 1.5rem;
}
.filter-by-label {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 5px;

  .filter-row-center & {
    justify-content: center;
  }

  .btn-group {
    display: inline-block;
    padding-left: 0;
  }

  .form-check-label {
    font-weight: 400;
  }
}
.filter-row-radios {
  .form-check-label {
    cursor: pointer;
  }
}

.form-check-all {
  .btn-check {
    &:checked {
      pointer-events: none;
    }
  }
}
